<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes Maker</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main h-[100vh] w-full bg-zinc-700 px-[2vw] py-[2vw]">
      <a href="/" class="text-blue-500 text-xl font-[500]">Back to home</a>
      <h3 class="mt-4 text-3xl text-white font-[600]"><%= fileName %></h3>
      <p class="mt-2 text-md text-white"><%= fileData %></p>
    </div>
  </body>
</html>
